langchain-community
lxml
bs4
boto3
python-dotenv
requests
snowflake-sqlalchemy
SQLAlchemy
pandas
PyPDF2
selenium
webscraping
scrapy-selenium
validators
pydantic 
pytest
elementpath
streamlit
matplotlib
langchain==0.1.16
matplotlib==3.7.2
numpy==1.24.2
PyPDF2==3.0.1
scikit_learn==1.3.2
streamlit==1.33.0
tiktoken==0.3.3
openai
